<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104925708-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-104925708-2');
  </script>

  <title>GH User Lookup</title>

  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>

    <style>
    .bg-img {
      background-image: url('/Octocat.png');
      filter: blur(8px);
      -webkit-filter: blur(8px);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .container .img{
      text-align:center;
    }
    .container .details{
      border-left:3px solid #ded4da;
    }
    .container .details p{
      font-size:15px;
      font-weight:bold;
    }
    .img-rounded {
      width:60%;
    }
  </style>
</head>


<body class='container'>
  <%= yield %>
</body>
</html>
